@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    font-smooth: never;
    -webkit-font-smoothing: none;
    font-family: "Press Start 2P", monospace;
    font-size: 30px;
    background-color: rgb(228, 228, 228);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 70px;
    height: 200px;
    aspect-ratio: auto 530 / 599;
    transition: transform .4s;
    -webkit-transition: opacity 1s;
    opacity: 1;
}

img:hover {
    transform: scale(1.2);
}

img:active {
    transform: translate(0%, 10%);
}

.fade {
    opacity: 0.5;
}

.noFade {
    opacity: 1;
}

.playerPokémon, .botPokémon {
    border: 5px solid #4568a8;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

.botPokémon {
    border-color: #a8454a;
}

.playerScore {
    color: #4568a8
}

.botScore {
    color: #a8454a;
}

.resultText {
    font-size: 25px;
    margin: 10px;
}

button {
    padding: 8px;
    border-radius: 6px;
}

button:hover {
    text-decoration: underline;
    font-weight: bold;
}